<ion-header>    
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
      <ion-title>Ranking Principal</ion-title>
      <ion-buttons end>
        <button ion-button icon-right (click)="abreLogin()" *ngIf="!isLogado()">
          <ion-icon name="person"></ion-icon>
        </button>
        <button ion-button icon-right (click)="popoverUsuario($event)" *ngIf="isLogado()">
            <ion-icon name="happy"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>  
  </ion-header>
  
  <ion-content padding>
    <ion-searchbar placeholder="Filtrar Nome" (ionInput)="getListaRankingFiltrada($event)" id="filtroApostador"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let itemRanking of listaRanking">
            <!--<ion-avatar item-start>
                <img [src]="itemRanking.foto">
            </ion-avatar>-->
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h2>{{itemRanking.nome}}</h2>
                        <p>{{itemRanking.posicao}}º no ranking</p>                        
                    </ion-col>
                    <ion-col>
                        <div class="item-note">
                            {{itemRanking.pontuacao}} pts
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <!--
            <button ion-button icon-only (click)="presentPopover($event)" clear item-end>
                <ion-icon name="more"></ion-icon>
            </button>
            -->
        </ion-item>    
    </ion-list>
  </ion-content>
  