<ion-header>
    <ion-navbar>
            <button ion-button menuToggle>
                    <ion-icon name="menu"></ion-icon>
                </button>
      <ion-title>
        Jogos
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-segment [(ngModel)]="jogos">
      <ion-segment-button value="proximos">
        Próximos
      </ion-segment-button>
      <ion-segment-button value="anteriores">
        Anteriores
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="jogos">
        <ion-list *ngSwitchCase="'proximos'">
          <ion-item>
            <ion-card *ngFor="let itemJogo of listaJogosProximos">
              <ion-card-header text-center>{{itemJogo.data_jogo}}, {{itemJogo.hora_jogo}} ({{itemJogo.grupo}})</ion-card-header>
              <ion-card-content text-center>
                <ion-grid text-center>
                  <ion-row>
                    <ion-col col-4>
                      <div class="bandeira-div">
                        <img [src]="getPathImgBandeira(itemJogo.arq_time_1)"><br/>
                      </div>
                    </ion-col>
                    <ion-col col-4></ion-col>
                    <ion-col col-4>
                      <div class="bandeira-div">
                          <img [src]="getPathImgBandeira(itemJogo.arq_time_2)"><br/>
                      </div>                      
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-4>{{itemJogo.time1}}</ion-col>
                    <ion-col col-4>x</ion-col>
                    <ion-col col-4>{{itemJogo.time2}}</ion-col>
                  </ion-row>
                </ion-grid>
                <div *ngIf="existeApostaUsuario(itemJogo.cod_jogo)">
                  Sua aposta: {{getApostaUsuario(itemJogo.cod_jogo)}}
                  <br/>
                  <button ion-button outline icon-right small>
                    Alterar
                    <ion-icon name="create"></ion-icon>                    
                  </button>
                </div>
                <div *ngIf="!existeApostaUsuario(itemJogo.cod_jogo)">
                  <button ion-button outline color="danger" icon-right small>
                    Fazer aposta
                    <ion-icon name="add"></ion-icon>                    
                  </button>
                </div>
              </ion-card-content>
            </ion-card> 
          </ion-item>
        </ion-list>
      
        <ion-list *ngSwitchCase="'anteriores'">
          <ion-item>
            <ion-card *ngFor="let itemJogo of listaJogosAnteriores">
              <ion-card-header text-center>{{itemJogo.data_jogo}}, {{itemJogo.hora_jogo}} ({{itemJogo.grupo}})</ion-card-header>
              <ion-card-content text-center>
                <ion-grid text-center>
                  <ion-row>
                    <ion-col col-4>
                      <div class="bandeira-div">
                        <img [src]="getPathImgBandeira(itemJogo.arq_time_1)"><br/>
                      </div>
                    </ion-col>
                    <ion-col col-4></ion-col>
                    <ion-col col-4>
                      <div class="bandeira-div">
                          <img [src]="getPathImgBandeira(itemJogo.arq_time_2)"><br/>
                      </div>                      
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-4>{{itemJogo.time1}}</ion-col>
                    <ion-col col-4>{{itemJogo.r_placar_A}} x {{itemJogo.r_placar_B}}</ion-col>
                    <ion-col col-4>{{itemJogo.time2}}</ion-col>
                  </ion-row>
                </ion-grid>
                <div *ngIf="existeApostaUsuario(itemJogo.cod_jogo)">Sua aposta: {{getApostaUsuario(itemJogo.cod_jogo)}} | Pontuação: {{getPontuacaoUsuario(itemJogo.cod_jogo)}}</div>
              </ion-card-content>
            </ion-card> 
          </ion-item>
        </ion-list>
      </div>    
  </ion-content>
  