<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/2414e7dd-2cd1-4e24-8927-46824d0597ee/resourceGroups/bolaodacopa2022/providers/Microsoft.ApiManagement/service/bola2022oapi/apis/weatherforecasts</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/2414e7dd-2cd1-4e24-8927-46824d0597ee/resourceGroups/bolaodacopa2022/providers/Microsoft.Web/sites/bolaodacopa2022api</ResourceId>
    <ResourceGroup>bolaodacopa2022</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://bolaodacopa2022api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>93ace1b1-fd74-4b86-8758-5774ce48a823</ProjectGuid>
    <PublishUrl>https://bolaodacopa2022api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$bolaodacopa2022api</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>